*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.actions button{
    margin: 0.5rem
}

.taskInput::placeholder{
    font-style: italic;
}

.todoList{
    overflow-y: scroll;
    max-height: 500px;
    scrollbar-color: rgb(46, 139, 216) rgb(163, 203, 236);
}

.todoList li:nth-child(even){
    background-color: #fbfbff
}
